.form-create-activity {
  margin: auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.content-create-activity {
  text-align: center;
}

#banner-create-activity {
  max-width: 90%;
  margin-top: 20px;
}

.button-ok {
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-full-width {
  width: 90%;
}
