<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModalChangePassword()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Changer le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="changePassword()">
    <ion-item>
      <ion-label position="stacked">Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input maxlength="70" #oldEmail="ngModel" required type="email" [(ngModel)]="changePasswordRequest.email" name="oldEmail"></ion-input>
    </ion-item>
    <div class="error-container" *ngIf="oldEmail.invalid && (oldEmail.dirty || oldEmail.touched)">
      <ion-item *ngIf="oldEmail.errors.required" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">Le mail est requis</ion-label>
      </ion-item>
    </div>
    <ion-item class="input-old-password">
      <ion-label position="stacked">Mot de passe actuel <ion-text color="danger">*</ion-text></ion-label>
      <ion-input maxlength="100" #oldPassword="ngModel" required type="password" [(ngModel)]="changePasswordRequest.oldPassword" name="oldPassword"></ion-input>
    </ion-item>
    <div class="error-container" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
      <ion-item *ngIf="oldPassword.errors.required" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">L'ancien mot de passe est requis</ion-label>
      </ion-item>
    </div>
    <ion-item>
      <ion-label position="stacked">Nouveau mot de passe <ion-text color="danger">*</ion-text></ion-label>
      <ion-input maxlength="100" minlength="8" placeholder="De 8 à 100 caractères" #password="ngModel" required type="password" [(ngModel)]="changePasswordRequest.newPassword" name="password"></ion-input>
    </ion-item>
    <div class="error-container" *ngIf="password.invalid && (password.dirty || password.touched)">
      <ion-item *ngIf="password.errors.required" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">Le nouveau mot de passe est requis</ion-label>
      </ion-item>
      <ion-item *ngIf="password.errors.minlength" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">8 caractères minimum</ion-label>
      </ion-item>
    </div>
    <ion-item>
      <ion-label position="stacked">Confirmation <ion-text color="danger">*</ion-text></ion-label>
      <ion-input maxlength="100" #confirm="ngModel" required [pattern]="changePasswordRequest.newPassword" type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
    </ion-item>
    <div class="error-container" *ngIf="confirm.invalid && (confirm.dirty || confirm.touched)">
      <ion-item *ngIf="confirm.errors.required" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">La confirmation est requise</ion-label>
      </ion-item>
      <ion-item *ngIf="confirm.errors.pattern" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">Pas de correspondance</ion-label>
      </ion-item>
    </div>
    <ion-button class="button-ok" [disabled]="!(oldPassword.valid && password.valid && confirm.valid)" type="submit" expand="block">Enregistrer</ion-button>
  </form>
</ion-content>
