<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModalChangePassword()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Changer le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content-change-password">
  <form (ngSubmit)="changePassword()" class="form-change-password">
    <mat-form-field class="input-full-width">
      <mat-label>Email actuelle <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="70" #email [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="changePasswordRequest.email">
      <mat-hint align="end">{{email.value.length}} / 70</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        L'email est requise
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width input-old-password">
      <mat-label>Mot de passe actuel <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="100" #password [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="changePasswordRequest.oldPassword">
      <mat-hint align="end">{{password.value.length}} / 100</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        L'ancien mot de passe est requis
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Nouveau mot de passe <ion-text color="danger">*</ion-text></mat-label>
      <input (change)="updateConfirmPasswordFormControl()" matInput maxlength="100" type="password" #newPassword [formControl]="newPasswordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="changePasswordRequest.newPassword">
      <mat-hint align="end">{{newPassword.value.length}} / 100</mat-hint>
      <mat-error *ngIf="newPasswordFormControl.hasError('minlength')">
        8 caractères minimum
      </mat-error>
      <mat-error *ngIf="newPasswordFormControl.hasError('required')">
        Le nouveau mot de passe est requis
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Confirmer le mot de passe <ion-text color="danger">*</ion-text></mat-label>
      <input (focus)="updateConfirmPasswordFormControl()" matInput maxlength="100" type="password" #confirm [formControl]="confirmPasswordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="confirmPassword">
      <mat-hint align="end">{{confirm.value.length}} / 100</mat-hint>
      <mat-error *ngIf="confirmPasswordFormControl.hasError('pattern') && !confirmPasswordFormControl.hasError('required')">
        Les mots de passe ne correspondent pas
      </mat-error>
      <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
        La confirmation est requise
      </mat-error>
    </mat-form-field>
    <ion-button class="button-ok" [disabled]="!(emailFormControl.valid && passwordFormControl.valid && newPasswordFormControl.valid)" type="submit" expand="block">Enregistrer</ion-button>
  </form>
</ion-content>
