ion-slides {
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide h2 {
  margin-top: 1rem;
}

.swiper-slide img {
  height: 250px;
  width: 250px;
  max-height: 50%;
  max-width: 80%;
  margin: 10px 0 10px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 30px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}
