<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <img src="../assets/icon/favicon.png"/>
        <h2>Bienvenue</h2>
        <p>
          Runcita est une plateforme interactive entre les coureurs de la citadelle de Lille.
          Elle vous permet de <b>trouver</b> des gens avec qui <b>partager</b> la passion de la course à pied et pourquoi pas,
          <b>vivre</b> un moment de convivialité autours d'un verre après l'effort !
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../assets/slides/slide2.png"/>
      <h2>Un accès simple</h2>
      <p>
        Indiquez votre adresse email, un mot de passe, votre nom, votre prénom, votre niveau de course et <b>hop</b>! vous avez accès à Runcita!
        Une fois connectez, vous pouvez modifier votre profil en ajoutant une photo et une petite description de vous.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../assets/slides/slide3.png"/>
      <h2>Proposer des sorties rapidement</h2>
      <p>
        Pour <b>créer</b> une sortie, il vous suffit d'indiquez une date, une heure, le type de la sortie
        (footing, fractionné, sortie longue..), l'intensité de la course (tortue, gazelle, lièvre, leopard),
        une description si nécessaire et évidemment, si vous souhaitez ou non <b>partager</b> un verre avec la course !
      </p>
      <p>
        <b>Information :</b> Un point unique de rendez-vous, le pont de la citadelle 'voir carte'. Il n'est donc pas utile de renseigner de lieu de rendez-vous !
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../assets/slides/slide4.png"/>
      <h2>Rechercher et participer en un click</h2>
      <p>
        Lorsque vous êtes sur l'application, vous voyez toutes les sorties à venir dans l'ordre chronologique.
        Vous pouvez <b>faciliter la recherche</b> grâce à 4 filtres : le niveau de course, le type de course, l'organisateur et / ou
        la date et l'heure.<br>
        Une fois que vous avez trouvé une sortie qui vous plait, il vous suffit d'appuyer sur le bouton 'participer' et le tour
        est joué ! Vous aurez ensuite accès à un <b>chat</b> regroupant l'ensemble des autres participants.
      </p>
      <ion-button fill="clear" [routerLink]="['/authentication']">Commencer</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
