<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModalUpdateProfile()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Modifier votre profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-update">
    <img [src]="userUpdated.cover" class="image-header header-cover" (click)="presentAlertCamera(true)">
    <ion-avatar class="avatar" (click)="presentAlertCamera(false)">
      <img [src]="userUpdated.picture" class="image-header">
    </ion-avatar>
    <ion-card-content class="ion-no-padding">
      <form (ngSubmit)="updateProfile()" class="form-update">
        <mat-form-field class="input-full-width">
          <mat-label>Nom <ion-text color="danger">*</ion-text></mat-label>
          <input matInput maxlength="20" #name name="name" [formControl]="nameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="userUpdated.lastName">
          <mat-hint align="end">{{name.value.length}} / 20</mat-hint>
          <mat-error *ngIf="nameFormControl.hasError('pattern') && !nameFormControl.hasError('required')">
            Format non valide
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Le nom est requis
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('minlength')">
            2 caractères minimum
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <mat-label>Nom <ion-text color="danger">*</ion-text></mat-label>
          <input matInput maxlength="20" #firstName name="firstname" [formControl]="firstNameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="userUpdated.firstName">
          <mat-hint align="end">{{firstName.value.length}} / 20</mat-hint>
          <mat-error *ngIf="firstNameFormControl.hasError('pattern') && !nameFormControl.hasError('required')">
            Format non valide
          </mat-error>
          <mat-error *ngIf="firstNameFormControl.hasError('required')">
            Le prénom est requis
          </mat-error>
          <mat-error *ngIf="firstNameFormControl.hasError('minlength')">
            2 caractères minimum
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width" (click)="modalSearchCity()">
          <mat-label>Ville <ion-text color="danger">*</ion-text></mat-label>
          <input readonly matInput maxlength="100" type="text" [formControl]="cityFormControl" [errorStateMatcher]="matcher" [(ngModel)]="userUpdated.city.name">
          <mat-error *ngIf="cityFormControl.hasError('required')">
            La ville est requise
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <mat-label>Sexe <ion-text color="danger">*</ion-text></mat-label>
          <mat-select [(value)]="userUpdated.sexe" [(ngModel)]="userUpdated.sexe" [formControl]="sexeFormControl" [errorStateMatcher]="matcher">
            <mat-option><ion-text color="primary">Retour</ion-text></mat-option>
            <mat-option [value]="true">Femme</mat-option>
            <mat-option [value]="false">Homme</mat-option>
          </mat-select>
          <mat-error *ngIf="sexeFormControl.hasError('required')">
            Le sexe est requis
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width" (click)="modalRunningLevel()">
          <mat-label>Niveau de course</mat-label>
          <input readonly matInput maxlength="100" type="text" [(ngModel)]="userUpdated.runningLevel.name" name="runningLevel">
          <img width="40px" height="40px" matSuffix src="../../assets/runningLevel/{{userUpdated.runningLevel.name}}.png">
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <mat-label>Date de naissance <ion-text color="danger">*</ion-text></mat-label>
          <input readonly matInput [matDatepicker]="picker" [(ngModel)]="choiceBirthday" [formControl]="birthdayFormControl" [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="birthdayFormControl.hasError('required')">
            La date de naissance est requise
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-width">
          <mat-label>Description</mat-label>
          <textarea matInput rows="3" maxlength="300" #desc [(ngModel)]="userUpdated.description" name="desc"></textarea>
          <mat-hint align="end">{{desc.value.length}} / 300</mat-hint>
        </mat-form-field>
        <ion-button class="button-ok" [disabled]="!(nameFormControl.valid &&
        firstNameFormControl.valid &&
        cityFormControl.valid &&
        birthdayFormControl.valid &&
        sexeFormControl.valid
        )" type="submit" expand="block">Enregistrer</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
