<form (ngSubmit)="logForm()">
  <ion-item>
    <ion-label position="stacked">Mail <ion-text color="danger">*</ion-text></ion-label>
    <ion-input mode="ios" #mail="ngModel" required type="email" [(ngModel)]="user.mail" name="mail"></ion-input>
  </ion-item>
  <div class="error-container" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
    <ion-item *ngIf="mail.errors.required" lines="none">
      <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
      <ion-label style="font-size: small" color="danger">Le mail est requis</ion-label>
    </ion-item>
  </div>
  <ion-item>
    <ion-label position="stacked">Mot de passe <ion-text color="danger">*</ion-text></ion-label>
    <ion-input mode="ios" #password="ngModel" required type="password" [(ngModel)]="user.password" name="password"></ion-input>
  </ion-item>
  <div class="error-container" *ngIf="password.invalid && (password.dirty || password.touched)">
    <ion-item *ngIf="password.errors.required" lines="none">
      <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
      <ion-label style="font-size: small" color="danger">Le mot de passe est requis</ion-label>
    </ion-item>
  </div>
  <ion-button [disabled]="!(mail.valid && password.valid)" type="submit" expand="block">Se connecter</ion-button>

</form>
