<ion-content fullscreen="true">
  <ion-img id="logo-authentication" src="../assets/icon/favicon.png"></ion-img>
  <h2>Inscrivez vous!</h2>
  <form (ngSubmit)="signup()" class="form-authentication">
    <mat-form-field class="input-full-width">
      <mat-label>Nom <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="20" #name [formControl]="nameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="user.profile.lastName">
      <mat-hint align="end">{{name.value.length}} / 20</mat-hint>
      <mat-error *ngIf="nameFormControl.hasError('pattern') && !nameFormControl.hasError('required')">
        Format non valide
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Le nom est requis
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('minlength')">
        2 caractères minimum
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Prénom <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="20" #firstname [formControl]="firstNameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="user.profile.firstName">
      <mat-hint align="end">{{firstname.value.length}} / 20</mat-hint>
      <mat-error *ngIf="firstNameFormControl.hasError('pattern') && !firstNameFormControl.hasError('required')">
        Format non valide
      </mat-error>
      <mat-error *ngIf="firstNameFormControl.hasError('required')">
        Le prénom est requis
      </mat-error>
      <mat-error *ngIf="firstNameFormControl.hasError('minlength')">
        2 caractères minimum
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Email <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="70" #email [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="user.email">
      <mat-hint align="end">{{email.value.length}} / 70</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
        Format non valide
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        L'email est requise
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Mot de passe <ion-text color="danger">*</ion-text></mat-label>
      <input (change)="updateConfirmPasswordFormControl()" matInput maxlength="100" type="password" #password [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="user.password">
      <mat-hint align="end">{{password.value.length}} / 100</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">
        8 caractères minimum
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Le mot de passe est requis
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Confirmer le mot de passe <ion-text color="danger">*</ion-text></mat-label>
      <input (focus)="updateConfirmPasswordFormControl()" matInput maxlength="100" type="password" #confirm [formControl]="confirmPasswordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="confirmPassword">
      <mat-hint align="end">{{confirm.value.length}} / 100</mat-hint>
      <mat-error *ngIf="confirmPasswordFormControl.hasError('pattern') && !confirmPasswordFormControl.hasError('required')">
        Les mots de passe ne correspondent pas
      </mat-error>
      <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
        La confirmation est requise
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width" (click)="modalSearchCity()">
      <mat-label>Ville <ion-text color="danger">*</ion-text></mat-label>
      <input readonly matInput maxlength="100" type="text" [formControl]="cityFormControl" [errorStateMatcher]="matcher" [(ngModel)]="user.profile.city.name">
      <mat-error *ngIf="cityFormControl.hasError('required')">
        La ville est requise
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Sexe <ion-text color="danger">*</ion-text></mat-label>
      <mat-select [(value)]="user.profile.sexe" [formControl]="sexeFormControl" [errorStateMatcher]="matcher">
        <mat-option><ion-text color="primary">Retour</ion-text></mat-option>
        <mat-option [value]="true">Femme</mat-option>
        <mat-option [value]="false">Homme</mat-option>
      </mat-select>
      <mat-error *ngIf="sexeFormControl.hasError('required')">
        Le sexe est requis
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Date de naissance <ion-text color="danger">*</ion-text></mat-label>
      <input readonly matInput [matDatepicker]="picker" [(ngModel)]="choiceBirthday" [formControl]="birthdayFormControl" [errorStateMatcher]="matcher">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthdayFormControl.hasError('required')">
        La date de naissance est requise
      </mat-error>
    </mat-form-field>
    <ion-button [disabled]="!(sexeFormControl.valid &&
    nameFormControl.valid &&
    firstNameFormControl.valid &&
    cityFormControl.valid &&
    emailFormControl.valid &&
    passwordFormControl.valid &&
    confirmPasswordFormControl.valid &&
    birthdayFormControl.valid)" expand="block" type="submit">S'inscrire</ion-button>
  </form>
  <ion-button id="btn-signin" fill="clear" color="secondary" size="small" [routerLink]="['/signin']">J'ai déja un compte</ion-button>
</ion-content>
