app-signup {
  width: 90%;
}

ion-img {
  height: 200px;
}

ion-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-ok {
  margin-top: 10px;
}

.item-has-focus ion-label {
  color: #1a1a1a;
}
