.form-authentication {
  margin: auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 90%;
}

#logo-authentication {
  margin-top: 20px;
}

#btn-signin {
  margin-bottom: 20px;
}

ion-img {
  height: 200px;
}

ion-content {
  text-align: center;
}
