<ion-content fullscreen="true">
  <ion-img id="logo-login" src="../assets/icon/favicon.png"></ion-img>
  <h2>Connectez vous!</h2>
  <form #form (ngSubmit)="signin()" class="form-authentication">
    <mat-form-field class="input-full-width">
      <mat-label>Email <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="70" #email [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="user.email">
      <mat-hint align="end">{{email.value.length}} / 70</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        L'email est requise
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Mot de passe <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="100" type="password" #password [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="user.password">
      <mat-hint align="end">{{password.value.length}} / 100</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Le mot de passe est requis
      </mat-error>
    </mat-form-field>
    <ion-button class="button-ok" [disabled]="!(emailFormControl.valid && passwordFormControl.valid) || loadingSignin" type="submit" expand="block">
      Se connecter
      <ion-icon slot="end" name="log-in-outline" *ngIf="!loadingSignin"></ion-icon>
      <ion-spinner *ngIf="loadingSignin" name="lines-small"></ion-spinner>
    </ion-button>
  </form>
  <ion-button fill="clear" color="secondary" size="small" [routerLink]="['/authentication']">Je n'ai pas encore de compte</ion-button>
</ion-content>
