<ion-content fullscreen="true">
  <ion-img src="../assets/icon/favicon.png"></ion-img>
  <h2>Connectez vous!</h2>
  <form (ngSubmit)="signin()">
    <ion-item>
      <ion-label position="stacked">Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input maxlength="70" mode="ios" #mail="ngModel" required type="email" [(ngModel)]="user.mail" name="mail"></ion-input>
    </ion-item>
    <div class="error-container" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
      <ion-item *ngIf="mail.errors.required" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">Le mail est requis</ion-label>
      </ion-item>
    </div>
    <ion-item>
      <ion-label position="stacked">Mot de passe <ion-text color="danger">*</ion-text></ion-label>
      <ion-input maxlength="50" mode="ios" #password="ngModel" required type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>
    <div class="error-container" *ngIf="password.invalid && (password.dirty || password.touched)">
      <ion-item *ngIf="password.errors.required" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">Le mot de passe est requis</ion-label>
      </ion-item>
    </div>
    <ion-button class="button-ok" [disabled]="!(mail.valid && password.valid)" type="submit" expand="block">Se connecter<ion-icon slot="end" name="log-in-outline"></ion-icon></ion-button>
  </form>
  <ion-button fill="clear" color="secondary" size="small" [routerLink]="['/authentication']">Je n'ai pas encore de compte</ion-button>
</ion-content>
