<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModalChangeEmail()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Changer l'email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content-change-email">
  <form (ngSubmit)="changeEmail()" class="form-authentication">
    <mat-form-field class="input-full-width">
      <mat-label>Email actuelle <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="70" #email [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="changeEmailRequest.oldEmail">
      <mat-hint align="end">{{email.value.length}} / 70</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        L'email est requise
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width input-password">
      <mat-label>Mot de passe <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="100" #password [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="changeEmailRequest.password">
      <mat-hint align="end">{{password.value.length}} / 100</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Le mot de passe est requis
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Nouvelle email <ion-text color="danger">*</ion-text></mat-label>
      <input matInput maxlength="70" #newEmail [formControl]="newEmailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="changeEmailRequest.newEmail">
      <mat-hint align="end">{{newEmail.value.length}} / 70</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        La nouvelle email est requise
      </mat-error>
    </mat-form-field>
    <ion-button class="button-ok" [disabled]="!(emailFormControl.valid && passwordFormControl.valid && newEmailFormControl.valid)" type="submit" expand="block">Enregistrer</ion-button>
  </form>
</ion-content>
