<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModalChangeEmail()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Changer l'email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="changeEmail()">
    <ion-item>
      <ion-label position="stacked">Mot de passe <ion-text color="danger">*</ion-text></ion-label>
      <ion-input maxlength="100" #password="ngModel" required type="password" [(ngModel)]="changeEmailRequest.password" name="password"></ion-input>
    </ion-item>
    <div class="error-container" *ngIf="password.invalid && (password.dirty || password.touched)">
      <ion-item *ngIf="password.errors.required" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">Le mot de passe est requis</ion-label>
      </ion-item>
    </div>
    <ion-item>
      <ion-label position="stacked">Nouvel email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input maxlength="70" placeholder="70 caractères maximum" #mail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email" [(ngModel)]="changeEmailRequest.newEmail" name="mail"></ion-input>
    </ion-item>
    <div class="error-container" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
      <ion-item *ngIf="mail.errors.required" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">Le mail est requis</ion-label>
      </ion-item>
      <ion-item *ngIf="mail.errors.pattern" lines="none">
        <ion-icon size="small" color="danger" slot="start" name="information-circle-outline"></ion-icon>
        <ion-label style="font-size: small" color="danger">Format non validee</ion-label>
      </ion-item>
    </div>
    <ion-button class="button-ok" [disabled]="!(mail.valid && password.valid)" type="submit" expand="block">Enregistrer</ion-button>
  </form>
</ion-content>
