<ion-card class="card">
  <img [src]="profile.cover">
  <ion-card-header class="header">
    <ion-grid>
      <ion-row>
        <ion-col (click)="modalSubscriber()">
          <ion-text class="follow"><ion-text color="primary">{{nbSubscriber}}</ion-text><br/>abonnés</ion-text>
        </ion-col>
        <ion-col>
          <ion-avatar class="avatar">
            <img [src]="profile.picture">
          </ion-avatar>
        </ion-col>
        <ion-col (click)="modalSubscription()">
          <ion-text class="follow"><ion-text color="primary">{{nbSubscription}}</ion-text><br/>abonnements</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button *ngIf="!myProfil" (click)="subscriber = !subscriber" fill="{{subscriber ? 'solid' : 'outline'}}"><ion-icon slot="start" name="{{subscriber ? 'checkmark' : 'person-add'}}"></ion-icon>Suivre</ion-button>
    <ion-button *ngIf="myProfil" size="small" fill="outline"><ion-icon slot="start" name="create"></ion-icon>Éditer le profil</ion-button>
    <ion-card-title>
      {{profile.firstName}} {{profile.lastName}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="desc">{{profile.description}}</p>
    <img class="running-level" src="../../assets/runningLevel/{{profile.runningLevel.name}}.png">
      <p><ion-icon name="gift"></ion-icon> {{getAge(profile.birthday)}} ans</p>
      <p><ion-icon name="{{profile.sexe ? 'woman' : 'man'}}"></ion-icon> {{profile.sexe ? 'Fille' : 'Garçon'}}</p>
      <p><ion-icon name="location-sharp"></ion-icon> {{profile.city.name}}</p>
    <ion-grid class="grid">
      <ion-row>
        <ion-col>
          <ion-chip color="primary" class="chip">13 activités</ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip color="primary" class="chip"><app-rating [readOnly]="true" [average]="4"></app-rating>(7)</ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
