.card {
  box-shadow: none;
  margin: 0;
  text-align: center;
}

.follow {
  font-size: 14px;
}

.cover {
  max-height: 180px;
}

.grid {
  text-align: center;
}

.desc {
  padding-bottom: 16px;
}

.card-activity {
  width: 100%;
}

.details-profile {
  text-align: left;
  margin: auto;
  width: 100px;
}

.header {
  padding-top: 0;
  padding-bottom: 10px;
}

.card-content-profile {
  padding-bottom: 0;
}

.running-level {
  width: 60px;
}

.list-item-recent-activity {
  --padding-start: 0;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}
