.card {
  box-shadow: none;
  margin: 0;
  text-align: center;
}

.follow {
  font-size: 14px;
}

.cover {
  max-height: 180px;
}

.description-profile {
  margin-left: 40px;
  margin-right: 40px;
}

.profile-name {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0px;
}

.card-activity {
  width: 100%;
}

.running-level {
  margin: auto;
}

.list-item-recent-activity {
  --padding-start: 0;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}
