<ion-card class="card">
  <img [src]="(profile.cover === null) ? '../../assets/mock/default-banner.png' : profile.cover" class="cover">
  <ion-grid>
    <ion-row>
      <ion-col (click)="modalSubscriber()">
        <ion-text class="follow"><ion-text color="primary">{{nbSubscriber}}</ion-text><br/>abonnés</ion-text>
      </ion-col>
      <ion-col>
        <ion-avatar class="avatar">
          <img [src]="(profile.picture === null) ? '../../assets/mock/default-profile.png' : profile.picture">
        </ion-avatar>
      </ion-col>
      <ion-col (click)="modalSubscription()">
        <ion-text class="follow"><ion-text color="primary">{{nbSubscription}}</ion-text><br/>abonnements</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button *ngIf="!myProfil" (click)="subscriber = !subscriber" fill="{{subscriber ? 'solid' : 'outline'}}"><ion-icon slot="start" name="{{subscriber ? 'checkmark' : 'person-add'}}"></ion-icon>Suivre</ion-button>
  <ion-button *ngIf="myProfil" size="small" (click)="modaleUpdateProfile()"><ion-icon slot="start" name="create"></ion-icon>Éditer le profil</ion-button>
  <ion-card-header>
    <ion-card-title class="profile-name">
      {{profile.firstName}} {{profile.lastName}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <p>
      <ion-icon name="gift"></ion-icon> {{getAge(profile.birthday)}} ans |
      <ion-icon name="{{profile.sexe ? 'woman' : 'man'}}"></ion-icon> {{profile.sexe ? 'Fille' : 'Garçon'}} | 
      <ion-icon name="location-sharp"></ion-icon> {{(profile.city === null) ? 'Non renseigné' : profile.city.name}}
    </p>
    <p class="description-profile">{{profile.description}}</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-chip color="primary">13 activités</ion-chip>
        </ion-col>
        <ion-col size="2">
          <ion-thumbnail class="running-level">
            <img src="../../assets/runningLevel/{{(profile.runningLevel === null) ? '../../assets/runningLevel/default' : profile.runningLevel.name}}.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col>
          <ion-chip color="primary"><app-rating [readOnly]="true" [average]="4"></app-rating>(7)</ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list lines="full">
      <ion-list-header mode="ios">Activités récentes</ion-list-header>
      <ion-item class="list-item-recent-activity" *ngFor="let activity of recentsActivities">
        <app-card-activity [activity]="activity" class="card-activity"></app-card-activity>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
